<div class="row">
    <div class="aspects-news">
        <div class="col-xs-12">
            <h2>{{news.title}}</h2>
        </div>
        <div class="col-xs-6">
            <div class="text-justify" ng-bind-html="news.content"></div>
        </div>
        <div class="col-xs-6">
            <img src="images/300x200.png" width="300" height="200" class="pull-right"/>
        </div>
        <div class="col-xs-12 aspects-comment">
            <button class="btn btn-primary" value="TEST">TEST</button>
        </div>
    </div>
</div>
